doctype html
head
    meta(charset='UTF-8')
    title Pug Example
    link(rel='stylesheet' href='/site.css')
    script(src='/script.js')
body
    main
        block main
    footer
        block footer



